<%- include('../partials/head.ejs')  %>


<body>
    <%- include('../partials/header.ejs') %> 
    <link rel="shortcut icon">
    <main>
        <form class="contact-form">
            <input type="text" name="nombre" id="nombre" placeholder="First Name"><br>
            <input type="text" name="apellido" id="apellido" placeholder="Last Name"><br>           
            <input type="email" name="email" id="email" placeholder="Email"><br>
            <input type="subject" name="subject" id="subject" placeholder="Subject"><br>
            <textarea id="comment" cols="30" rows="10" placeholder="Please leave your comment"></textarea><br>
            <input type="submit" value="Send">
            <button type="reset">Reset</button>
        </form>

        <script src="/js/contact.js"></script>

    </main>
</body>